:root {
  --blue: rgb(20, 120, 167);
  --blueRGB: 20, 120, 167;
  --darkBlue: rgb(15, 48, 98);
  --darkBlueRGB: 15, 48, 98;
  --lightBlue: rgb(82, 181, 217);
  --lightBlueRGB: 82, 181, 217;
  --red: rgb(255, 115, 105);
  --redRGB: 255, 115, 105;
}

* {
  font-family: "Poppins", "Sans-serif";
}

body {
  margin: 0; padding: 0;
}

/* font-awesome 
  https://github.com/FortAwesome/Font-Awesome/blob/6.x/css/all.min.css 
  https://origin.fontawesome.com/v6/docs/web/add-icons/pseudo-elements
  https://origin.fontawesome.com/search?o=r&m=free&s=regular&f=classic
*/
.fa::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font: var(--fa-font-regular);
}

.fa {
  text-decoration: none;
}




.clickable {
  cursor: pointer;
  pointer-events: auto;
  user-select: none;
}
.clickable:hover {
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}
.unavailable {
  background-color: rgb(136, 136, 136);
  border: 2px solid gray;
  pointer-events: none;
  cursor:auto;
}





.logo {
  position: fixed;
  top: 25px;
  padding: 0px;
  margin: 0px;
  z-index: 10;
}

.logo-big {
  width: 50px;
  height: 50px;
}

.icatmar-logo {
  left: 25px;
  box-shadow: 0 0 4px black;
  border-radius: 50%;
}





.icon-str {
  width: 28px;
  height: 28px;
  color: white;
  text-shadow: 0px 0px 4px black;
  font-weight: bold;

  background: var(--lightBlue);
  border-radius: 50%;
  border: none;
  box-shadow: 0px 0px 5px black;
  margin-left: 3px;
  margin-right: 3px;

  display:flex;
  align-items: center;
  justify-content: center;
  pointer-events: all;
  cursor: pointer;
}

.icon-str:hover {
  background-color: var(--blue);
}
/* Close icon */
.icon-str-close {
  /* background-color: var(--red); */
  background-color: gray;
}
.icon-str-close::after {
  content: "\2715";
}
.icon-str-close:hover{
  background-color: lightgray;
}
/* Open icon */
.icon-str-open {
  background-color: var(--lightBlue);
}
.icon-str-open::after {
  font-family: initial;
  content: "\1F441";
}
.icon-str-open:hover{
  background-color: green;
}











/* BUTTONS GENERAL STYLE */
button {
  padding: 10px 10px 10px 10px;
  background-color: var(--darkBlue);
  color: white;


  border-radius: 50px;
  border: none;

  display:flex;
  align-items: center;
  justify-content: center;

  pointer-events: all;
  cursor: pointer;
  user-select: none;
}

button:hover {
  background-color: var(--lightBlue);
  transition: all 0.2s ease-in-out;
}

.button-text {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.button-active {
  background-color: var(--red);
  box-shadow: 0px 0px 4px black;
  transition: all 0.2s ease-in-out;
}
.button-active:hover {
  background-color: var(--red);
}

.button-inactive {
  background-color: rgb(136 176 191);
}

@media screen and (max-width: 770px) {
  button {
    padding: 4px;
    font-size: small;
  }

  .logo-big {
    width: 35px;
    height: 35px;
  }

  .icatmar-logo {
    left: 10px;
  }
}


.hidden {
  display: none;
}












@media screen and (max-width: 770px) {
  .hiddenInMobile {
    display: none
  }

  .visibleInMobile {
    display: inherit;
  }
}

@media screen and (min-width: 770px) {
  .visibleInMobile {
    display: none;
  }
}




.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease, scale 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
  scale: 0.2;
}